Repository FakeItEasy/FakeItEasy, pull requests merged in 2019-10, with the labels that each got.

#1665 Remove option to skip formatting of argument values
  src/FakeItEasy/OutputWriterExtensions.cs
Labels: :radioactive: tech-debt

#1667 Upgrade analyzers to .NET Standard 2.0 and test them on .NET Core
  src/FakeItEasy.Analyzer.CSharp/FakeItEasy.Analyzer.CSharp.csproj
  src/FakeItEasy.Analyzer.Shared/ArgumentConstraintAnalyzerBase.cs
  src/FakeItEasy.Analyzer.Shared/ArgumentConstraintTypeMismatchAnalyzer.cs
  src/FakeItEasy.Analyzer.Shared/ArgumentConstraintTypeMismatchCodeFixProvider.cs
  src/FakeItEasy.Analyzer.Shared/NonVirtualSetupAnalyzer.cs
  src/FakeItEasy.Analyzer.Shared/RepeatedAssertionAnalyzer.cs
  src/FakeItEasy.Analyzer.Shared/UnusedReturnValueAnalyzer.cs
  src/FakeItEasy.Analyzer.VisualBasic/FakeItEasy.Analyzer.VisualBasic.csproj
  tests/FakeItEasy.Analyzer.CSharp.Tests/FakeItEasy.Analyzer.CSharp.Tests.csproj
  tests/FakeItEasy.Analyzer.Tests.Shared/Helpers/DiagnosticVerifier.Helper.cs
  tests/FakeItEasy.Analyzer.Tests.Shared/Helpers/DiagnosticVerifier.cs
  tests/FakeItEasy.Analyzer.VisualBasic.Tests/FakeItEasy.Analyzer.VisualBasic.Tests.csproj
Labels: :microscope: analyzer, :radioactive: tech-debt

#1664 Limit typeparams for Fake options and builder classes
  src/FakeItEasy/Creation/FakeAndDummyManager.cs
  src/FakeItEasy/Creation/FakeOptions.cs
  src/FakeItEasy/Creation/IFakeOptions.of.T.cs
  src/FakeItEasy/FakeOptionsBuilder.cs
  src/FakeItEasy/FakeOptionsExtensions.cs
  tests/FakeItEasy.Tests.Approval/ApprovedApi/FakeItEasy/net40.approved.txt
  tests/FakeItEasy.Tests.Approval/ApprovedApi/FakeItEasy/net45.approved.txt
  tests/FakeItEasy.Tests.Approval/ApprovedApi/FakeItEasy/netstandard1.6.approved.txt
  tests/FakeItEasy.Tests.Approval/ApprovedApi/FakeItEasy/netstandard2.0.approved.txt
  tests/FakeItEasy.Tests.Approval/ApprovedApi/FakeItEasy/netstandard2.1.approved.txt
Labels: :broken_heart: breaking, :rocket: enhancement

#1684 Add target to approve new public API
  tools/FakeItEasy.Build/Program.cs
Labels: build
