Repository FakeItEasy/FakeItEasy, pull requests merged in 2023-07, with the labels that each got.

#1954 Install .NET Core 3.1 on Windows in CI
  .github/workflows/ci.yml
Labels: :building_construction: build

#1955 Escape HTML tags in Formatting Argument Values docs
  docs/formatting-argument-values.md
Labels: :books: documentation, :eyes: publish-docs-preview

#1956 Fix broken link in documentation
  docs/doing-nothing.md
Labels: :books: documentation, :eyes: publish-docs-preview

#1959 Update docs dependencies for security
  requirements.in
  requirements.txt
Labels: :books: documentation
