Repository FakeItEasy/FakeItEasy, pull requests merged in 2024-05, with the labels that each got.

#2017 Make build.ps1 executable on Linux
  build.ps1
Labels: :building_construction: build

#2016 Correct how to build lies, now that we're in a .NET 8.0 world
  how_to_build.md
Labels: :books: documentation

#2015 Use .NET source generators to generate strongly-typed overloads
  .editorconfig
  .globalconfig
  FakeItEasy.sln
  recipes/Directory.Build.props
  src/FakeItEasy.Extensions.ValueTask/FakeItEasy.Extensions.ValueTask.csproj
  src/FakeItEasy.Extensions.ValueTask/Generated/CodeGen/CodeGen.ValueTaskAsyncReturnValueConfigurationExtensionsGenerator/ValueTaskAsyncReturnValueConfigurationExtensions.g.cs
  src/FakeItEasy.Extensions.ValueTask/Generated/CodeGen/CodeGen.ValueTaskReturnValueConfigurationExtensionsGenerator/ValueTaskReturnValueConfigurationExtensions.g.cs
  src/FakeItEasy/ArgumentValidationConfigurationExtensions.StronglyTyped.tt
  src/FakeItEasy/AsyncReturnValueConfigurationExtensions.StronglyTyped.tt
  src/FakeItEasy/CallbackConfigurationExtensions.StronglyTyped.tt
  src/FakeItEasy/CodeGen/Ordinals.ttinclude
  src/FakeItEasy/Configuration/ExceptionThrower.StronglyTyped.tt
  src/FakeItEasy/Configuration/OutAndRefParameters.StronglyTyped.tt
  src/FakeItEasy/FakeItEasy.csproj
  src/FakeItEasy/Generated/CodeGen/CodeGen.ArgumentValidationConfigurationExtensionsGenerator/ArgumentValidationConfigurationExtensions.g.cs
  src/FakeItEasy/Generated/CodeGen/CodeGen.AsyncReturnValueConfigurationExtensionsGenerator/AsyncReturnValueConfigurationExtensions.g.cs
  src/FakeItEasy/Generated/CodeGen/CodeGen.CallbackConfigurationExtensionsGenerator/CallbackConfigurationExtensions.g.cs
  src/FakeItEasy/Generated/CodeGen/CodeGen.ExceptionThrowerGenerator/ExceptionThrower.g.cs
  src/FakeItEasy/Generated/CodeGen/CodeGen.OutAndRefParametersGenerator/OutAndRefParameters.g.cs
  src/FakeItEasy/Generated/CodeGen/CodeGen.ReturnValueConfigurationExtensionsGenerator/ReturnValueConfigurationExtensions.g.cs
  src/FakeItEasy/Generated/CodeGen/CodeGen.ValueTaskAsyncReturnValueConfigurationExtensionsGenerator/ValueTaskAsyncReturnValueConfigurationExtensions.g.cs
  src/FakeItEasy/Generated/CodeGen/CodeGen.ValueTaskReturnValueConfigurationExtensionsGenerator/ValueTaskReturnValueConfigurationExtensions.g.cs
  src/FakeItEasy/ReturnValueConfigurationExtensions.StronglyTyped.tt
  src/FakeItEasy/ValueTaskAsyncReturnValueConfigurationExtensions.StronglyTyped.tt
  src/FakeItEasy/ValueTaskReturnValueConfigurationExtensions.StronglyTyped.tt
  tests/Directory.Build.props
  tools/CodeGen/ArgumentValidationConfigurationExtensionsGenerator.cs
  tools/CodeGen/AsyncReturnValueConfigurationExtensionsGenerator.cs
  tools/CodeGen/CallbackConfigurationExtensionsGenerator.cs
  tools/CodeGen/CodeGen.csproj
  tools/CodeGen/ExceptionThrowerGenerator.cs
  tools/CodeGen/OutAndRefParametersGenerator.cs
  tools/CodeGen/ReturnValueConfigurationExtensionsGenerator.cs
  tools/CodeGen/StronglyTypedOverloadsGenerator.cs
  tools/CodeGen/ValueTaskAsyncReturnValueConfigurationExtensionsGenerator.cs
  tools/CodeGen/ValueTaskReturnValueConfigurationExtensionsGenerator.cs
  tools/FakeItEasy.Build/FakeItEasy.Build.csproj
Labels: :building_construction: build

#2021 Documentation fix: Update URL in link to Moq
  docs/creating-fakes.md
Labels: :books: documentation, :gift: contribution, :1st_place_medal: first-time, :eyes: publish-docs-preview

#2023 Fix broken internal documentation links
  docs/argument-constraints.md
  docs/capturing-arguments.md
Labels: :books: documentation

#2024 Check docs links after building
  .github/workflows/ci.yml
  README.md
  docs/argument-constraints.md
  docs/external-resources.md
  docs/index.md
  docs/what-can-be-faked.md
  how_to_build.md
  requirements.in
  requirements.txt
  tools/FakeItEasy.Build/Program.cs
Labels: :building_construction: build, :books: documentation

#2028 Update the docs to show how to specify InternalsVisibleTo in the project file
  docs/how-to-fake-internal-types.md
  mkdocs.yml
Labels: :eyes: publish-docs-preview
