Repository FakeItEasy/FakeItEasy, pull requests merged in 2024-10, with the labels that each got.

#2042 Manage mkdocs and friends via uv
  .github/workflows/ci.yml
  .gitignore
  how_to_build.md
  pyproject.toml
  requirements.in
  requirements.txt
  tools/FakeItEasy.Build/Program.cs
  uv.lock
Labels: :eyes: publish-docs-preview

#2043 Ignore HTTP 429 rate limit errors when checking links to StackOverflow
  .linkcheckerrc
  FakeItEasy.sln
  tools/FakeItEasy.Build/Program.cs
Labels: :building_construction: build

#2044 Move docs config files to docs
  FakeItEasy.sln
  docs/.linkcheckerrc
  docs/contributing.md
  docs/how-to-build.md
  docs/mkdocs.yml
  docs/pyproject.toml
  docs/uv.lock
  tools/FakeItEasy.Build/Program.cs
Labels: :building_construction: build, :books: documentation, :eyes: publish-docs-preview

#2051 Build for net462 on Linux and Mac
  .editorconfig
  profiles/full.props
  src/Directory.Build.props
Labels: :building_construction: build
